body{
    background-color: #fbc531;
    
}

#header{
text-align: center;
background-color: #1e90ff;
border-radius: 30px;
height: 80px;
color: #fbc531;
box-shadow: #1e90ff 1px 1px 4px 1px



}

#davit{
    text-align: center;
    
    color: #ff4757;
    width: 1570px;
    
    
    
}

body h2{
    color: blue;
    /* border: 1px solid black; */
    width: 150px;
    height: 50px;
    background-color: #1e90ff;
    text-align: center;
    float:right;
    border: 1px solid #1e90ff;
    border-radius: 12px;
    box-shadow: #1e90ff 1px 1px 6px 1px
      
}
h2:hover {
    color: rgb(1, 185, 16);
    background-color: #ff4757;
    
    
}
#HomeWork{
    width: 200px;
    border: 1px solid blue;
    text-align: center;
    border-radius: 15px

    
}

#Classwork{
    width: 200px;
    border: 1px solid blue;
    text-align: center;
    border-radius: 15px
    
}
div{
    padding: 4px;
    margin: 15px;
    float: left;
}

#Classwork li{
    list-style: none;
    border: 1px seagreen dotted;
    background-color: #4CAF50;
    margin: 5px;
    width: 110px;
    height: 30px;
    border-radius: 9px;
    box-shadow: #1e90ff 1px 1px 6px 1px
   

}

#Classwork li a{
    color: #1e3799
}

#Classwork li:hover{
    background-color: #1e90ff
}

#footer{
    background-color: #1e90ff;
    width: 1530px;
    height: 80px;
    border-radius: 30px;
    text-align: center;
    box-shadow: #1e90ff 1px 1px 4px 1px;
    color: #fff
}

body h3{
    text-shadow: #1e90ff 1px 1px 4px ;
    color: blue
}