.slider{
    position: relative;
    width: 40%;
    padding: 20px;
    margin: 10px;
}
.slider h1 {
    text-align: left;
    width: 400px;
    font-size: 40px;
    color: purple;
    padding: 20px;
    margin: 10px;

}
.slider p{
    text-align: left;
    width: 400px;
    padding: 20px;
    margin: 10px;
}
.myslides{
    position: relative;
    width: 560px;
    height: 380px;
    /* left: 60%;
    top: 40%; */
    float: left;
    
   
}
.mySlides{
    position: relative;
    display: inline;
    
}
.wiew{
    position: relative;
    top: 0%;
    left: 5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #54d7b7;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 55px;
}